USE [master]
GO
/****** Object:  Database [SchoolSystem]    Script Date: 2025-01-27 18:08:57 ******/
CREATE DATABASE [SchoolSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SchoolSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SchoolSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SchoolSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SchoolSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SchoolSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SchoolSystem]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 2025-01-27 18:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](30) NOT NULL,
	[TeacherID_FK] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2025-01-27 18:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](40) NOT NULL,
	[Occupation] [nvarchar](20) NOT NULL,
	[ContactInfo] [nvarchar](30) NULL,
	[Salary] [int] NULL,
	[HireDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentCourse]    Script Date: 2025-01-27 18:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentCourse](
	[StudentCourseID] [int] IDENTITY(1,1) NOT NULL,
	[Grade] [nvarchar](5) NOT NULL,
	[GradeDate] [date] NOT NULL,
	[StudentID_FK] [int] NOT NULL,
	[CourseID_FK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentCourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2025-01-27 18:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](40) NOT NULL,
	[ContactInfo] [nvarchar](30) NULL,
	[SocialSecurityNumber] [nvarchar](13) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([TeacherID_FK])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[StudentCourse]  WITH CHECK ADD FOREIGN KEY([CourseID_FK])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[StudentCourse]  WITH CHECK ADD FOREIGN KEY([StudentID_FK])
REFERENCES [dbo].[Students] ([StudentID])
GO
/****** Object:  StoredProcedure [dbo].[DisplayStudentInfo]    Script Date: 2025-01-27 18:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DisplayStudentInfo]
    @StudentID INT
AS
BEGIN
    SELECT StudentID, FullName, SocialSecurityNumber, ContactInfo    
	FROM Students
    WHERE StudentID = @StudentID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SetGrade]    Script Date: 2025-01-27 18:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetGrade]
    @StudentID INT,
    @CourseID INT,
    @Grade NVARCHAR(1)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        UPDATE StudentCourse
        SET Grade = @Grade, GradeDate = GETDATE()
        WHERE StudentID_FK = @StudentID AND CourseID_FK = @CourseID;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SetStudentGrade]    Script Date: 2025-01-27 18:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetStudentGrade]
    @StudentId INT,
    @CourseId INT,
    @Grade NVARCHAR(1)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        UPDATE StudentCourses
        SET Grade = @Grade, GradeDate = GETDATE()
        WHERE StudentIdFk = @StudentId AND CourseIdFk = @CourseId;
        INSERT INTO GradeLog (StudentId, CourseId, Grade, DateLogged)
        VALUES (@StudentId, @CourseId, @Grade, GETDATE());
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
USE [master]
GO
